# IIPImage Server Configuration

FcgidInitialEnv LOGFILE "/var/log/iipsrv.log"
FcgidInitialEnv VERBOSITY "5"
FcgidInitialEnv MAX_IMAGE_CACHE_SIZE "10000"
FcgidInitialEnv JPEG_QUALITY "90"
FcgidInitialEnv MAX_CVT "5000"

ScriptAlias /iipsrv "/usr/lib/iipimage-server/iipsrv.fcgi"

<Directory "/usr/lib/iipimage-server/">
    Options None
    Require all granted
</Directory>

<Directory "/data/GBM">
    Options Indexes FollowSymLinks
    Require all granted
</Directory>

Alias /images "/data/GBM"
